name: CI/CD Pipeline

# Trigger workflow on push to main branch
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ECR_URL }}:latest .

      - name: Push Docker image to ECR
        run: |
          docker push ${{ secrets.ECR_URL }}:latest

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Stop & remove old container
        run: |
          docker rm -f vehicleproj || true
          docker ps -aq | xargs -r docker rm -f

      - name: Free port 5000
        run: |
          sudo fuser -k 5000/tcp || true

      - name: Pull latest image
        run: |
          docker pull ${{ secrets.ECR_URL }}:latest

      - name: Run new container
        run: |
          docker run -d \
            --restart unless-stopped \
            --name vehicleproj \
            -p 5000:5000 \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -e AWS_DEFAULT_REGION=${{ secrets.AWS_DEFAULT_REGION }} \
            ${{ secrets.ECR_URL }}:latest


